@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    color:white;
   
}
body {
    font-family: "Poppins", sans-serif;
   
    font-style: normal;
  }
  .boldtext{
    font-family: "Poppins", sans-serif;
   font-weight: 600;
    font-style: normal;
  }
  .Loader{
    animation : loader infinite 1s ease-in;
  }
  @keyframes loader {
    0%{
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(100%);
    }
  }